@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo ao Cadastro de Funcionários</h1>
    <p></p>
</div>
<div></div>

<div class="text-center">
    <h5 class="display-4"><small>Aqui você conseguirá Cadastrar, Editar, Detalhar e Excluir informações sobre seus funcionários.</small></h5>
    <p></p>
</div>